.bannerBg {
    animation:  changeBg 15s ease  infinite ;
    transition: background 1s;
}
.textColor {
    animation:  changeColor 15s ease  infinite ;
    transition: background 1s;
}
.featureCard1 {
    animation:  changePosition1 3s ease  infinite ;
}
.featureCard2 {
    animation:  changePosition2 3s ease  infinite ;
}


@keyframes changeBg {
    0%{
        background: linear-gradient(to right,  #ffffff,  #e0c4b4ec);      
    }   
    25%{
        background: linear-gradient(to right, #ffffff,  #dadba0ef);     
    }
    50%{
        background: linear-gradient(to right, #ffffff,  #a0d89be8);
        
    }
    75%{
        background: linear-gradient(to right, #ffffff,  #9adad4e8);
        
    }
    100%{
        background: linear-gradient(to right, #ffffff,  #cca5dfe7);
    }     
    
   }
@keyframes changeColor {
    0%{
        color:  #e0bca8      
    }   
    25%{
        color:  #dddf98; 
    }
    50%{
       color: #8dd886; 
    }
    75%{
       color:  #84ddd4;
    }
    100%{
    color: #ca98e2; 
    }     
   }
@keyframes changePosition1 {
    0%{
        translate: 0px 0px;       
    }   
    50%{
        translate: 0px 15px;       
    }   
    100%{
        translate: 0px 0px;   
    }   
   }
@keyframes changePosition2 {
    0%{
        translate: 0px 0px;       
    }   
    50%{
        translate: 0px -15px;       
    }   
    100%{
        translate: 0px 0px;   
    }   
   }